In [1]:
import pandas as pd

In [2]:
df  = pd.DataFrame([['Masculino','Masculino','Feminino','Masculino','Feminino','Feminino'],['Enfermagem','Futebol','Medicina','Futebol','Futebol','Futebol']]).T
df.columns = ['Sexo', 'Profissão']

In [9]:
df

        Sexo   Profissão
0  Masculino  Enfermagem
1  Masculino     Futebol
2   Feminino    Medicina
3  Masculino     Futebol
4   Feminino     Futebol
5   Feminino     Futebol

In [1]:
#Defina a porcentagem de cada um dos possíveis valores pra variável sexo na base de dados.

In [2]:
#Define a porcentagem de cada um dos possíveis valores pra variável profissão na base de dados.

In [3]:
#Mostre a tabela de contingência das variáveis sexo e profissão.